* {
   margin: 0;
   padding: 0;
}
header {
   background-color: #333;
   color: #fff;
   padding: 1rem;
}
.background {
   background: linear-gradient(330deg, rgba(255, 226, 0, 1), rgba(255,144,168,1));
   padding: 260px;
}
.search {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 600px;
   margin: 0 auto;
   padding: 100px;
   border-radius: 30px;
}

.search input {
   padding: 0.5rem;
   border: none;
   margin-bottom: 0.5rem;
}

.search button {
   padding: 0.5rem;
   border: none;
   border-radius: 0.5rem;
   background-color: #333;
   color: #fff;
   cursor: pointer;
}
.long-inputs {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 600px;
   margin-bottom: 50px;
}
#title-input {
   border-style: none none none none;
   border-bottom: 2px solid rgba(255,144,168,1);
   outline: none;
}
#author-input {
   border-style: none none none none;
   border-bottom: 2px solid rgba(255,144,168,1);
   outline: none;

}
.short-inputs {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 600px;
   margin-top: 2vh;
   margin-bottom: 50px;
}
#start-year {
   width: 200px;
   border-style: none none solid none;
   border-bottom: 2px solid rgba(255,144,168,1);
   outline: none;
}
#end-year {
   width: 200px;
   border-style: none none solid none;
   border-bottom: 2px solid rgba(255,144,168,1);
   outline: none;
}
.year-text {
   margin-left: 1rem;
   margin-right: 1rem;
   font-size: 23px;
   font-family: Arial, Helvetica, sans-serif;
}
button {
   width: 600px;
   background: linear-gradient(330deg, rgba(255, 226, 0, 1), rgba(255,144,168,1));
   text-shadow: 0px 0px 5px #00000085;
   box-shadow: 0px 3px 5px #0000004e;
}
.search-inputs {
   width: 600px;
}
.search button:hover {
   background: linear-gradient(75deg, rgba(255, 226, 0, 1), rgba(255,144,168,1))
}

.search button:active {
   background-color: #777;
}

.search button:focus {
   outline: none;
}

.results-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 800px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   background: linear-gradient(180deg, rgba(255,226,0,1), rgba(255,144,168,1));
   border-radius: 30px;
   box-shadow: 0px 3px 5px #0000004e;
}

.filter-results {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 800px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;
}
.options {
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 20px;
}
